@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charmonman&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Sriracha', cursive;
}

h1 {
    font-size: 50px;
    color: rgb(76, 105, 174);
    text-align: center;
    margin-top: 50px !important;
}

td {
    max-width: 320px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 86px;
    text-align: center;
}

.ss-1{
    vertical-align: middle;
}

.ss-1 p{
    margin: 0;
}

th {
    text-align: center !important;
}

tr {
    width: 100%;
    /* height: 80px !important; */
    /* align-items: center !important; */


}

table {
    max-width: 1920px;
}

/* .img-ss {

    display: flex;
    justify-content: center;

} */

img {
    width: 70px;
    height: 70px;
    border-radius: 180px;
}

.detail-test {

    overflow: hidden;
    color: rgb(24, 68, 156);
    width: 320px !important;
}

.name-test {
    width: 10%;
}

.action-test {
    width: 10%;
}

body {
    background-color: #b8b2b2 !important;
}
